<section class="about">
    

    <div class="about-content">
    <h1>Rent a book</h1>
    <p>Renting textbooks is much cheaper than purchasing books. There are many places where you can rent books online and some bookstores offer this service to their students. Keep in mind, you need to return rented textbooks by a certain date. So if you need to hang onto the book for a few extra weeks to study for finals, you'll need to see if the service offers extensions.
        It's not uncommon for friends to split textbooks when they're taking the same class. This can absolutely make sense,as two people dividing the cost of a 145Rs book is much cheaper than each person buying a copy! But be careful before going this route. If your friend is unreliable and loses the book or can't get it to you in time, you may be worse off in the long run. 
    </p>
   
    </div>
</section>

