.computers
{
    background: linear-gradient(rgba(255,255,255,.3), rgba(211, 191, 191, 0.3)), url("../../assets/computerbg.jpg");
    height: 546px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 50px;
}
.box
{
    background-color: #F9D5A7;
    padding: 10px 10px;
    height: 360px;

}
.image
{
    height:150px;
    
}