<section class="rent">
    <div class="fill form col-lg-4 m-auto shadow-lg">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputname" class="form-label">Full Name</label>
                <input type="name" class="form-control" id="exampleInputname">
              </div>
              <div class="mb-3">
                <label for="examplenputphone" class="form-label">Mobile Number</label>
                <input type="phone" class="form-control" id="exampleInputphone">
              </div>
              <div class="mb-3">
                <label for="exampleInputdate" class="form-label">Date upto</label>
                <input type="date" class="form-control" id="exampleInputdate">
              </div>
              <div class="mb-4">
                <label for="exampleInputaddress" class="form-label">Address</label>
                <input type="address" class="form-control" id="exampleInputaddress">
              </div>
            
            <button type="submit" class="btn btn-primary col-lg-12">Submit</button>
          </form>

    </div>
</section>
