<section class="signup">
    <div class="fill form col-lg-4 m-auto shadow-lg">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Re-Enter Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="mb-3">
                  <label for="exampleInputphone" class="form-label">Mobile Number</label>
                  <input type="mobile" class="form-control" id="exampleInputmobile">
                </div>
                <div class="mb-3">
                    <label for="exampleInputtextarea" class="form-label">Address</label>
                    <input type="textarea" class="form-control" id="exampleInputaddress" >
                  </div>
        
            
            <button type="submit" class="btn btn-primary col-lg-12">Submit</button>
          </form>

    </div>
</section>


